<footer class="bg-dark text-white py-4 mt-5" data-bs-theme="dark">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <h5 class="text-white">Portfolio</h5>
        <p class="text-white">Todo lo que puedo hacer y más en angular </p>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h5 class="text-white">Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="text-white text-decoration-none">Inicio</a></li>
          <li><a routerLink="/portfolio" class="text-white text-decoration-none">Portfolio</a></li>
          <li><a routerLink="/contact" class="text-white text-decoration-none">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text-white">Ver mejor mis proyectos</h5>
        <p class="text-white">
          <br />
          <a href="https://github.com/Max656plin" class="text-white text-decoration-none">
            <i class="bi bi-github"></i> GitHub
          </a>
        </p>
      </div>
    </div>
    <hr class="bg-light" />
    <div class="row">
      <div class="col-12 text-center text-white">
        <p class="mb-0">© 2025 Máximo Casado Giner. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
