<div class="hero-section">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
      </div>
      <div class="col-md-6">
        <h1 class="display-4 fw-bold mb-3">Bienvenido a Mi Portfolio</h1>
        <p class="lead text-muted mb-4">
          Me presento soy Máximo Casado Giner, actual estudiante de desarrollo web con ganas de desarrollar mis propias ideas de manera digital. Soy un apasionado de las tecnologias y la innovación siempre le saco partido a las herramientas de este sector ya sea una IA o un programa que automatiza. Este apartado se irá mejorando en posteriores versiones.
        </p>
        <div class="btn-group gap-2">
          <a routerLink="/portfolio" class="btn btn-primary btn-lg">
            <i class="bi bi-briefcase"></i> Mis proyectos
          </a>
          <a routerLink="/contact" class="btn btn-outline-primary btn-lg">
            <i class="bi bi-envelope"></i> Contacto
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="skills-section py-5 bg-body">
  <div class="container">
    <h2 class="text-center mb-5 fw-bold text-body">Habilidades y Tecnologías</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="skill-card p-4 rounded text-center bg-body-tertiary shadow">
          <i class="bi bi-code-square display-4 text-primary mb-3"></i>
          <h4 class="text-body">Desarrollo de páginas web</h4>
          <p class="text-body-secondary">Se usar con los conocimientos esperados Angular, TypeScript, HTML5, CSS3, Bootstrap para la creación de webs</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="skill-card p-4 rounded text-center bg-body-tertiary shadow">
          <i class="bi bi-gear display-4 text-primary mb-3"></i>
          <h4 class="text-body">Lenguajes de programación aprendidos</h4>
          <p class="text-body-secondary">Cubriendo principalmente el desarrollo frontend y backend. Los lenguajes y tecnologías clave son HTML, CSS, JavaScript, PHP, Java, Python, SQL y lenguajes de marcas como XML. También herramientas como Bootstrap, JQuery o Node.js. </p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="skill-card p-4 rounded text-center bg-body-tertiary shadow">
          <i class="bi bi-pencil-square display-4 text-primary mb-3"></i>
          <h4 class="text-body">Creatividad e imaginación</h4>
          <p class="text-body-secondary">Se sacarle utilidad a mis ideas y pensamientos para plasmarlos en diseños más que funcionales</p>
        </div>
      </div>
    </div>
  </div>
</section>

